.authentication-container{
    
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}

// .forms-container{
//     display: flex;
//     justify-content: space-around;
// }